<div class="nav-bar_container">
    <nav>
        <img src="https://www.gravatar.com/avatar/5e42cb355f6541c1cd2dd24c439e07ea.png?r=PG&size=60x60&date=2023-10-02&d=https%3A%2F%2Fcursos.alura.com.br%2Fassets%2Fimages%2Fforum%2Favatar_g.png"
            alt="user picture">

        <ul>
            <li><a href="">about</a></li>
            <li><a href="">the blog</a></li>
        </ul>
    </nav>

    <div class="social-media">
        <ul>
            <li><a href="https://www.linkedin.com/in/devgabrielvitor/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
            <li><a href="https://github.com/Gvitor10" target="_blank"><i class="fa-brands fa-github"></i></a></li>
        </ul>
    </div>
</div>