.nav-bar_container {
    padding: 1rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    background-color: #2C3639;
}

.nav-bar_container nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
}

.nav-bar_container nav > img {
    height: 40px;

    border-radius: 1.5rem;
    border: 2px solid #A27B5C;
}

.nav-bar_container nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;

    font-family: 'Poppins';
    text-transform: uppercase;

    list-style: none;
}

.nav-bar_container nav ul li > a {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem;

    color: #A27B5C;

    cursor: pointer;
}

.nav-bar_container nav ul li > a:hover {
    color: #FFF;
}

.social-media > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;

    list-style: none;
}

.social-media ul li > a {
    color: #A27B5C;
}

.social-media ul li > a:hover {
    color: #FFF;
}

/* layout responsive */

@media screen and (max-width: 415px) {
    .nav-bar_container {
        width: 100%
    }
}