.container {
    height: 83vh;
    width: 20vw;

    margin: 1rem;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.2rem;

    font-family: 'Segoe UI';
}

#post_img > img {
    height: 100%;
    width: 100%;
}

#post_date > span {
    font-size: 0.626rem;
    
    color: var(--secondary-text-color);
}

#post_description > p {
    font-size: 0.826rem;
}

/* responsive layout */

@media screen and (max-width: 415px) {

    .container {
        height: 18vh;
        width: 36vw;
        
        gap: 0.2rem;
    }

    #post_img > img {
        height: auto;
        width: 100%;
    }

    #post_title > h1 {
        font-size: 18px;
    }
    
    #post_description > p {
        display: none;
    }
}