<header>
    <nav-bar></nav-bar>
</header>

<main>
    <home-title></home-title>

    <div class="posts">
        <div class="article">
            <big-card></big-card>
        </div>
    
        <div class="aside">
            <small-card></small-card>
            <small-card></small-card>
            <small-card></small-card>
        </div>
    </div>
</main>

<section>
    <span>Others posts</span>

    <div class="container">
        <other-card></other-card>
        <other-card></other-card>
        <other-card></other-card>
        <other-card></other-card>
    </div>
</section>
