header {
    width: 100%;
}

main {
    height: 62vh;

    padding-top: 1rem;
    padding-left: 10rem;
    padding-right: 2rem;

    background-color: #3F4E4F;
}

.posts {
    height: 95%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.posts > .aside {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

section {
    height: 100vh;

    Padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;

    background-color: #DCD7C9;
}

section > .container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

section > span {
    font-family: 'Poppins';
    font-size: 0.726rem;
    font-weight: 600;

    text-transform: uppercase;

    color: #000;
}

/* responsive layout */

@media screen and (max-width: 415px) {

    main {
        height: 64vh;

        padding-left: 2rem;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .posts {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }

    .posts > .aside {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column;

        height: 28vh;
        width: 100%;
    }

    .article {
        height: 20vh;
    }

    section {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    section > .container {
        height: 50%;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }
}