<header>
    <nav-bar></nav-bar>
    <home-title></home-title>
</header>

<main>
    <div class="posts">
        <div class="article">
            <big-card
                id="post001"
                bigCardDate="Lançado em 25 de agosto de 2021."
                bigCardImg="https://f4.bcbits.com/img/0027969071_71.jpg"
                bigCardTitle="L'indécis lança um novo EP 'RING OF THE BELL'"
                bigCardDescription="No dia 25 de agosto de 2021, L'indécis lança um novo EP 'RING OF THE BELL' que tras consigo 10 pequenas faixas para os seus fãs poderem apreciar esta obra!"
                >
            </big-card>
        </div>
    
        <div class="aside">
            <small-card
                id="post002"
                smallCardDate="Ouça agora!"
                smallCardImg="https://i1.sndcdn.com/artworks-000582845321-5v6uyo-t500x500.jpg"
                smallCardTitle="Junior State - Levitate Ep."
                >
            </small-card>

            <small-card
                id="post003"
                smallCardDate="Ouça agora!"
                smallCardImg="https://cdns-images.dzcdn.net/images/cover/e0e72c23460346695c97ba3e9654af4d/500x500.jpg"
                smallCardTitle="Saib. - Ipanema Ep."
                >
            </small-card>

            <small-card
                id="post004"
                smallCardDate="Ouça agora!"
                smallCardImg="https://f4.bcbits.com/img/a3062869994_10.jpg"
                smallCardTitle="L'indécis - Playtime Ep."
                >
            </small-card>
        </div>
    </div>
</main>

<section>
    <span>Others posts</span>

    <div class="container">
        <other-card
            otherCardDate="Saiba mais!"
            otherCardImg="https://i.ytimg.com/vi/e2p_5pIhE84/maxresdefault.jpg"
            otherCardTitle="Quais outras músicas da estação Chillhop escutar!"
            otherCardDescription="Confira aqui neste post uma lista quentinha de mais 10 musicas para ouvir na estação chillhop!."
        >
        </other-card>

        <other-card
            otherCardDate="Ouça agora!"
            otherCardImg="https://i.ytimg.com/vi/n5uz7egB9tA/maxresdefault.jpg"
            otherCardTitle="Chillhop Essentials Summer - 2019"
            otherCardDescription="Confira está seleção quentinha para escutar durante todo o verão!"
        >
        </other-card>

        <other-card
            otherCardDate="Ouça agora!"
            otherCardImg="https://i.ytimg.com/vi/70-pW6iWhhs/maxresdefault.jpg"
            otherCardTitle="Chillhop Essentials Spring - 2019"
            otherCardDescription="Escute agora este apanhado de músicas para escutar durante todo a primavera!"
        >
        </other-card>

        <other-card
            otherCardDate="Ouça agora!"
            otherCardImg="https://i.redd.it/pspx3gnjqnz51.png"
            otherCardTitle="Chillhop Essentials Winter - 2019"
            otherCardDescription="Escute agora este apannhado de músicas para escutar durante todo o inverno!"
        >
        </other-card>
    </div>
</section>